@model EditForumPostModel
@using Nop.Core.Domain.Forums;
@using Nop.Web.Models.Boards;
@{
    //page class
    Html.AppendPageCssClassParts("html-forum-edit-page");
}

@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page from-panel">
    <div class="page-title panel-heading">
        @if (Model.IsEdit)
        {
            <h1>@T("Forum.EditPost")</h1>
        }
        else
        {
            <h1>@T("Forum.NewPost")</h1>
        }
    </div>
    <div class="page-body panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div> 
            }
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ForumTopicId)
            <div class="form-fields">
            <fieldset>
                <legend>@T("Forum.ForumName"): <strong>@Model.ForumName</strong></legend>
                <div class="form-group">
                    <label class="control-label topic-title-text col-md-4">@T("Forum.TopicTitle"):</label> <span class="col-md-5">@Model.ForumTopicSubject</span>
                </div>

                <div class="form-group row">
                    <div class=" col-md-5">
                        @if (Model.ForumEditor == EditorType.BBCodeEditor)
                        {
                            @Html.BBCodeEditor("Text");
                        }
                        @Html.TextAreaFor(model => model.Text, new { @class = "forum-post-text form-control"})
                        @Html.ValidationMessageFor(model => model.Text)    
                    </div>
                </div>
                @if (Model.IsCustomerAllowedToSubscribe)
                {
                    <div class="form-group">
                        <div class="col-sm-10 col-md-5">
                            <label class="checkbox options-checkbox">
                                @Html.EditorFor(model => model.Subscribed)
                                <span>@T("Forum.NotifyWhenSomeonePostsInThisTopic")</span>
                            </label>
                        </div>
                    </div>
                }
                <div class="form-group form-submit">
                    <div class="col-md-offset-4 col-md-5 submit-option">
                        <input type="submit" value="@T("Forum.Submit")" class="btn btn-primary submit-post-button" />
                        <input type="button" class="btn btn-default cancel-post-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })    ')" />
                    </div>
                </div>
            </fieldset>
          </div>
        }
    </div>
</div>
