@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

<div class="category-toolbar">
    <div class="pager">
        @if (Model.AllowProductViewModeChanging)
        {
            <div class="limiter">
                <span>@T("Catalog.PageSize")</span>
                @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })
                <span>@T("Catalog.PageSize.PerPage")</span>
            </div>
        }
    </div>
    <div class="sorter">
        @*view mode*@
        @if (Model.AllowProductViewModeChanging)
        {
            <div class="view-mode">
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];

                    <a class="viewmode-icon grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">@gridMode.Text</a>
                    <a class="viewmode-icon list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>
                }
            </div>
        }
        @*sorting*@
        @if (Model.AllowProductSorting)
        {
            <div class="sort-by">
                <span>@T("Catalog.OrderBy")</span>
                @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>