@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}

<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-2" asp-for="NewPassword"></label>
                            <div class="visible-xs form-title-rquired"><nop-required /></div>
                            <div class="col-sm-6 col-md-4">
                                <input class="form-control col-sm-6 col-md-4" asp-for="NewPassword" />
                            </div>
                            <div class="col-sm-3 col-md-4">
                                <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-2" asp-for="ConfirmNewPassword"></label>
                            <div class="visible-xs form-title-rquired"><nop-required /></div>
                            <div class="col-sm-6 col-md-4">
                                <input class="form-control col-sm-6 col-md-4" asp-for="ConfirmNewPassword" />
                            </div>
                            <div class="col-sm-3 col-md-4">
                                <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-md-offset-2 col-md-3">
                            <input type="submit" name="set-password" class="btn btn-primary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
