@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(Model.Name);
    //page class
    Html.AppendPageCssClassParts("html-forum-group-page");
}
@Html.Action("ForumBreadcrumb", new { forumGroupId = Model.Id })
@Html.Partial("_ForumHeader")
@Html.Widget("boards_forumgroup_after_header")
<div class="page forum-group-page">
    @Html.Partial("_ForumGroup", Model)
</div>
@Html.Widget("boards_forumgroup_bottom")
